<h1>Create an reservation</h1>

<%= form_for @room do |r| %>
  <p>
    <%= r.label :Nazwa_spotkania %>
    <%= r.text_field :title %>
  </p>
  <p>
  	Nazwa Salki<br/>
    <%= radio_button_tag(:title, "Quechua") %>
	<%= label_tag(:title_Quechua, "Quechua") %>
	<%= radio_button_tag(:title, "Fouganza") %>
	<%= label_tag(:title_Fouganza, "Fouganza") %>
</p>

<% end %>

